html, body, #map {
  height: 100%;
  padding: 0;
  margin: 0;
}
hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
table {
    border: 0px solid black;
    border-collapse: collapse;
    font-size: 14px;
}
th, td {
    border: 0px solid black;
    border-collapse: collapse;
    padding: 3px;
}
#map {background-color: #9FB4CC;}
button {
  border-radius: 4px;
  background-color: #fff;
}

button.secoalash {
  padding: 10px;
  margin: 10px;
  font-size: 14px;
  display: inline-block;
}

#resetBt {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 5;
    color: black;
    padding: 10px;
    font-size: 13px;
    border:1px solid rgba(0,0,0,0.4);
}
#resetBt:hover {
        background:#F7F7F7;
        border: 2px solid rgba(0,0,0,0.2);
}
#filters {
    border:1px solid rgba(0,0,0,0.4);
    display: block;
}
.legend {
    margin: 5px 5px 5px 5px;
    font-size: 16px;
}
.clean1{color: #0D5372}
.clean2{color: #94B257}
.clean3{color: #EDDC88}
 
.ui-select {
  background:#fff;
  position:absolute;
  top:10px;
  right:10px;
  z-index:100;
  padding:10px;
  border-radius:3px;
  }

.bx-next, .bx-prev {
  color: black;
}

.media {line-height: 1em; color: #007E85;}
.selc {color: rgba(255, 97, 56, 1)}
.others {color: #374140}
.sp {margin-right: 10px; margin-left: 10px;}